/*

Responsive First 

use `min-width media queries see Andrea Bailey's Responsive Example for Media Query https://github.com/andreacardybailey/responsive_example

*/


* {

    box-sizing: border-box;  
}

#questions-wrapper.quiz-section {
    
    padding: 30px;
    padding-top: 20px;
    max-width: 400px   
}


#choices {
    
    border: none;
}


